/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Variaveis */

:root {
  --main-color: #54b689;
  --main-text-color: #fff;
  --border-color: #999;
  --bio-bg-color: #1e2a3a;
  --bio-border-color: #293544;
  --about-bg-color: #111821;
}

/* Global */

.highlight {
  color: var(--main-color);
}

/* Container */

#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

#bio-Container {
  flex: 1 1 20%;
  min-height: 100vh;
  background-color: var(--bio-bg-color);
  text-align: center;
  padding: 30px 12px;
  border-right: 5px solid var(--bio-border-color);
}

#aboutContainer {
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: var(--about-bg-color);
  padding: 50px;
}

/* Bio */

#bio-Container h2 {
  margin-bottom: 25px;
}

#bio-Container p {
  margin-bottom: 20px;
}

#bio-Container #welcomeText {
  font-weight: bold;
}

#bioImage {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#socialContainer {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 25px;
  padding-bottom: 25px;
}

#socialContainer li {
  flex: 1 1 0;
  max-width: 60px;
}

#socialContainer li a {
  color: var(--main-text-color);
  font-size: 30px;
}

#emailContainer {
  display: flex;
  justify-content: center;
}

#emailContainer ion-icon,
#emailContainer a {
  flex: 1 1 0;
}

#emailContainer a {
  color: var(--main-text-color);
  text-decoration: none;
  max-width: 225px;
}

#emailContainer ion-icon {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
  max-width: 20px;
}

/* About */

#name {
  font-size: 42px;
  margin-bottom: 15px;
}

#title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

.description {
  max-width: 75%;
  margin-bottom: 10px;
}

#btnProjects {
  font-weight: bold;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
  margin: 25px 0;
  padding: 12px 10px;
  width: 150px;
  text-align: center;
  display: flex;
}

#btnProjects ion-icon,
#btnProjects span {
  flex: 1 1 0;
}

#btnProjects ion-icon {
  font-size: 20px;
  max-width: 20px;
}

#btnProjects:hover {
  background-color: transparent;
  color: var(--main-color);
}

#skillSectionTitle {
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
}

#skillsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.skillsBox {
  flex: 1 1 33%;
  max-width: 33%;
  margin-bottom: 35px;
}

.skillsTitle {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  padding-left: 20px;
  border-left: 5px solid var(--main-color);
}

.skillsBox i {
  font-size: 45px;
  margin-right: 10px;
}

/* Mobile */

@media (max-width: 450px) {
  #container {
    flex-direction: column;
  }

  #bio-Container {
    min-height: auto;
    border-right: none;
    border-bottom: 5px solid var(--bio-border-color);
  }

  #bioContainer h2 {
    display: none;
  }

  #bioContainer p {
    max-width: 60%;
    margin: 10px auto;
  }

  #aboutContainer {
    text-align: center;
    padding: 30px;
  }

  #aboutContainer .description {
    margin: 10px auto;
    max-width: 100%;
    line-height: 26px;
  }

  #btnProjects {
    margin: 20px auto;
  }

  .skillsBox {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

  .skillsBox i {
    font-size: 60px;
  }
}
